<div class="body">
    <mat-spinner class="spinner" *ngIf="spinner"></mat-spinner>
    <div class="login" *ngIf="!spinner">
        <form [formGroup]="form" (ngSubmit)="Agregar()">
            <img src="../../assets/img/programador.png" width="50%" alt="">
            <h1>Login</h1>
            <mat-form-field class="ancho">
                <mat-label>Usuario</mat-label>
                <input formControlName="usuario" matInput>
            </mat-form-field>

            <mat-form-field class="ancho">
                <mat-label>Contraseña</mat-label>
                <input formControlName="password" type="password" matInput>
            </mat-form-field>

            <button type="submit" mat-raised-button color="primary" class="ancho" [disabled]="form.invalid">Ingresar</button>
        </form>
    </div>
</div>
<!-- <mat-slider min="1" max="100" step="1" value="50"></mat-slider> -->
